<div class="row">
  <div class="col-sm-3 mb-4">
    <app-bank-transfer 
      [accounts]="accounts$ | async" 
      [selectedFromAccount]="selectedFromAccount$ | async" 
      [contacts]="contacts$ | async" 
      [selectedToAccount]="selectedToAccount$ | async" 
      [accountBalance]="accountBalance$ | async"
      [transferLimit]="accountTrasnferLimit$ | async"
      [canTransfer]="canTransfer$ | async"
      (submitTransfer)="onTransferSubmit($event)"
    ></app-bank-transfer>  
  </div>

  <div class="col-sm-9">
    <div class="bg-white shadow-sm p-3">
      <app-bank-search-sort-header [sortingOptions]="transferQuery$ | async" (search)="onSearch($event)" (sort)="onSort($event)"></app-bank-search-sort-header>
      
      <app-bank-transfer-list [transfers]="transfers$ | async"></app-bank-transfer-list>
    </div>
  </div>
</div>