<table class="table">
  <tbody>
    <tr class="row" *ngFor="let transfer of transfers">
      <td class="col-3 col-sm-2">
        {{ transfer.dates.valueDate | date}}
      </td>
      <td class="d-none col-sm-2"></td>
      <td class="col-5 col-sm-5">
        <strong>{{ transfer.merchant.name }}</strong>
        <div class="small">{{ transfer.transaction.type }}</div>
      </td>
      <td class="col-4 col-sm-3 text-right">
        <strong>
          <span *ngIf="transfer.transaction.creditDebitIndicator === CreditDebitIndicators.CRDT">+</span>
          <span *ngIf="transfer.transaction.creditDebitIndicator === CreditDebitIndicators.DBIT">-</span>
          {{ transfer.transaction.amountCurrency.amount | currency: transfer.transaction.amountCurrency.currencyCode }}
        </strong>
      </td>
    </tr>
  </tbody>
</table>