<div class="container">
  <div class="row">
    <div class="col-sm-12 shadow-sm bg-primary p-4">
      <h3>Select Account</h3>
    </div>
    <div class="bg-white col-sm-12 p-4">
      <div class="row" [formGroup]="accountSelectorForm">
        <div class="col-sm-5">
          <app-bank-account-selector [accounts]="accounts$ | async" [selectedAccount]="selectedFromAccount$ | async" (accountSelect)="onFromAccountSelect($event)"></app-bank-account-selector>
        </div>
        <div class="col-sm-5">
          <app-bank-account-selector [accounts]="contacts$ | async" [selectedAccount]="selectedToAccount$ | async" (accountSelect)="onToAccountSelect($event)"></app-bank-account-selector>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="makePayment()">Make Payment</button>
        </div>
      </div>
    </div>
  </div>
</div>
