<div class="container">
  <div class="row">
    <div class="col-sm-12 shadow-sm bg-primary p-4">
      <h3>Select Account</h3>
    </div>
    <div class="bg-white col-sm-12 p-4">
      <div class="row">
        <div class="col-sm-5">
          <app-bank-account-selector [accounts]="accounts$ | async" (accountSelect)="setSelectedAccount($event)"></app-bank-account-selector>
        </div>
        <div class="col-sm-5">
          <app-bank-account-selector [accounts]="contacts$ | async" (accountSelect)="setSelectedContact($event)"></app-bank-account-selector>
        </div>
        <div class="col-sm-2">
          Submit button goes here
        </div>
      </div>
    </div>
  </div>
</div>
